<header class="page-header">
  <div class="container header-container">
    <div class="header-logo">
      <a href="./index.html">
        <img
          src="/img/autotorba-logo.png"
          alt="logo autotorba"
          width="150"
          height="152"
        />
      </a>
    </div>
    <nav class="header-nav" aria-label="Меню сайту">
      <ul class="nav-list">
        <li class="nav-list-item">
          <a href="">Autotorba</a>
        </li>
        <li class="nav-list-item">
          <a href="">Polcar</a>
        </li>
        <li class="nav-list-item">
          <a href="">Signeda</a>
        </li>
        <li class="nav-list-item">
          <a href="">USA</a>
        </li>
        <li class="nav-list-item">
          <a href="">Контакти</a>
        </li>
      </ul>
    </nav>
    <button class="burger-btn" type="button">
      <svg class="burger-icon" width="32" height="32">
        <use href="/img/icons.svg/burger.svg"></use>
      </svg>
    </button>
  </div>
</header>
