.page-header {
  padding: 20px 0;
  background-color: darkgreen;
}
.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header-logo {
  width: 50px;
}

.burger-btn {
  margin: 0;
  border: none;
  background-color: transparent;
  height: 40px;
}
.burger-icon {
  display: block;
  fill: #f1f1f1;
}
@media screen and (max-width: 767px) {
  .nav-list {
    display: none;
  }
}
/* tablet */
@media screen and (min-width: 768px) {
  .header-container {
    justify-content: flex-start;
    gap: 100px;
  }
  .burger-btn {
    display: none;
  }
  .header-logo {
    width: 75px;
  }
  .nav-list {
    display: flex;
    gap: 30px;
  }
  .nav-list-item {
    color: aliceblue;
  }
}

@media screen and (min-width: 1158px) {
  .header-logo {
    width: 80px;
  }
  .nav-list {
  }
}
